.user-details {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-self: center;
    width: calc(100% - 40px);
    max-width: rem(975px);
    padding: 0px rem(20px);
    padding-top: rem(30px);

    .user-header {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-columns: 1fr 2fr;

        @include for-wide-layout {
            grid-template-columns: 1fr 2fr;
        }

        // justify-content: space-around;
        padding-bottom: rem(44px);
        .user-img {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 5;
            margin-right: 28px;
            justify-self: center;

            @include square-image(150px);
            img {
                border-radius: 50%;
            }
        }

        .info-top {
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            align-items: center;
            // gap: rem(0px);
            margin-bottom: rem(20px);
            .username {
                font-size: rem(20px);
                line-height: rem(25px);
                margin-right: 20px;
            }
            .user-buttons {
                display: flex;
                height: rem(32px);
                gap: rem(8px);
                button {
                    height: 100%;
                    background-color: #efefef;
                    font-size: rem(14px);
                    padding: 0px rem(16px);
                    border-radius: rem(8px);
                    font-weight: 600;
                    letter-spacing: normal;
                    text-overflow: ellipsis;
                    font-family: $font-family-system;
                }
                
                .follow-btn {
                    color: #fff;
                    background-color: $ig-primary-clr3;

                    &:hover {
                        background-color: #007bb5;
                    }
                }
            }
        }
        .info-midle {
            grid-column-start: 2;
            grid-row-start: 2;
            display: flex;
            height: rem(18px);
            margin-bottom: rem(20px);
            gap: rem(40px);

            p {
                font-size: rem(16px);
                span {
                    font-weight: bold;
                }
            }
        }
        .info-bottom {
            grid-column-start: 2;
            grid-row-start: 3;

            p {
                font-size: rem(14px);
                font-weight: bold;
            }
        }
    }

    .user-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(52px);
        gap: rem(60px);
        border-top: 1px solid $border-color;

        .nav-item {
            display: flex;
            align-items: center;
            color: #8e8e8e;
            line-height: rem(18px);
            font-size: rem(12px);
            letter-spacing: rem(1px);
            padding: rem(17px) 0;
            text-transform: uppercase;
            font-weight: bold;
            gap: 4px;

            .icon {
                font-size: 18px;
            }

            span {
                margin-left: rem(6px);
            }

            &.active {
                color: $ig-primory-clr;
                border-top: 1px solid black;
                margin-top: 2px;

                .icon {
                    color: $ig-primory-clr;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $ig-primory-clr; // Black underline
                    margin-top: 8px;
                }
            }
        }
    }
}
