.app-footer {
    // display: grid;
    // padding: rem(20px) 2rem;
    color: $ig-secondary-clr2;
    
    a {
        color: $ig-secondary-clr2;
        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin: 1rem 0;
        text-transform: uppercase;
    }
}
