.app-footer {
    // display: grid;
    // padding: rem(20px) 2rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    color: $ig-primary-clr2;
    margin: rem(24px) 0;
    
    a {
        color: $ig-primary-clr2;
        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin: 1rem 0;
        text-transform: uppercase;
    }
}
