.dynamic-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    .modal {
        border-radius: rem(12px);
        background-color: $ig-primary-background;
        overflow: hidden;

        header {
            height: rem(43px)
        }
    }

    .close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: none;
        border: none;
        font-size: 2.4rem;
        color: $ig-primary-background;
        cursor: pointer;
        z-index: 1000;

        &:hover {
            color: $ig-secondary-clr2;
        }
    }
}
