.add-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $ig-primary-background;

    .add-header {
        display: flex;
        // grid-template-rows: auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        // position: relative;

        h2 {
            font-size: 16px;
            font-weight: 600;
            // justify-self: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
        }

        button {
            padding: rem(14px);
        }

        .add-entry-btn {
            color: #0095f6;
            &:hover {
                color: #00376b;
            }
        }
    }

    .add-body {
        display: grid;
        grid-template-columns: 1fr auto;
        width: rem(794px);
    }

    .add-upload-area {
        width: 100%;
        min-height: calc(90vh - rem(350px));
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .add-first {
            display: grid;
            justify-items: center;
            gap: rem(24px);
        }

        .icon {
            width: 5rem;
            height: 5rem;
            align-self: center;
            // margin-bottom: 1.6rem;
            // margin-bottom: 16px;
        }

        p {
            font-size: rem(20px);
            margin-bottom: rem(10px);
        }

        .upload-btn {
            // margin-top: rem(25px);
            padding: rem(7px) rem(16px);
            font-size: rem(14px);
            font-weight: 600;
            color: #fff;
            background-color: $ig-primary-clr3;
            border: none;
            border-radius: 0.4rem;
            cursor: pointer;

            &:hover {
                background-color: #007bb5;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .add-caption-area {
        width: 100%;
        margin-top: 20px;

        .add-entry__textarea {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid $border-color;
            border-radius: 0.4rem;
            resize: none;
            height: 100px;
            font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        }
    }
}
