.edit-entry {
    width: rem(800px);
    // height: rem(600px);
    background-color: $ig-primary-background;
    // border-radius: 1rem;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);

    .edit-entry-header {
        padding: rem(11px);
        border-bottom: 0.1rem solid $border-color;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        text-align: center;

        h2 {
            font-size: rem(16px);
            font-weight: 600;
        }
    }

    .edit-entry-body {
        // padding: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        .side-edit {
            padding: 1rem;
            width: rem(324px);
            border-left: 0.1rem solid $border-color;
            // border-bottom: 0.1rem solid #dbdbdb;
            // display: flex;
            // flex-direction: column;

            .to {
                .prof {
                    display: flex;
                    align-items: center;
                    margin-bottom: rem(14px);

                    .user-icon-edit {
                        margin-left: rem(12px);
                    }

                    .user-name-edit {
                        font-weight: normal;
                    }
                }
                .textarea-container {
                    position: relative;
                    max-width: 400px;
                    margin: 0 auto;

                    textarea {
                        width: 100%;
                        height: rem(168px);
                        resize: none;
                        border: none;
                        // padding: 8px 0;
                        font-size: 14px;
                        outline: none;
                        font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                    }
                }
                .text-footer {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 0.1rem solid $border-color;
                    padding: rem(4px) rem(8px);

                    button {
                        color: $ig-secondary-clr2;
                    }

                    .counter {
                        line-height: rem(16px);
                        font-size: rem(12px);
                        color: $ig-secondary-clr2;
                        text-align: end;
                    }
                }
            }
        }
    }
}
