.entry-details {
    display: flex;
    max-height: rem(601px);
    max-width: rem(935px);

    .entry-details-img {
        max-height: 100%;
        max-width: calc(rem(935px) - rem(335px));
    }

    .side-details {
        border: 0.0625rem solid $border-color;
        width: rem(335px);
        display: grid;
        grid-template-rows: auto 1fr auto auto;
        .header-details {
            padding: rem(14px) rem(16px);
            border-bottom: 0.0625rem solid $border-color;
        }
        .comment-container {
            padding: rem(14px) rem(16px);
            overflow-y: scroll;
            // flex-grow: 1;
        }
        .nav-details {
            height: rem(100px);
            border-top: 0.0625rem solid $border-color;
            padding: rem(14px) rem(16px);
        }
        .new-comment {
            .new-comment-uicon {
                .entry-details-modal & {
                    display: none;
                }
            }
            display: flex;
            align-items: center;
            border-radius: rem(38px);
            padding: rem(14px) rem(16px);
            gap: 5px;
            .new-comment-area {
                flex: 1;
                border-radius: rem(38px);
                padding: rem(8px) rem(8px);
            }
        }
    }
}
