.entry-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 500;
    .entry-modal {
        background-color: $ig-primary-background;
        display: flex;
        border-radius: 4px;
        overflow: hidden;
        // position: relative;
        // max-width: none;
        // max-height: none;
        // max-height: calc(100% - 40px);
        // max-width: calc(100% - 64px - 64px);
        max-width: 90vw;
    max-height: 90vh;
    }

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        z-index: 1000;
        font-weight: lighter; 
        line-height: 1;

        &:hover {
            color: $ig-secondary-clr2;
        }
    }
}