.options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(20px);
    background-color: ffffff;
    font-size: rem(14px);

    button {
        width: rem(400px);
        height: rem(48px);
        border-bottom: 0.0625rem solid $border-color;
        padding: rem(4px) rem(8px);

        &:first-child {
            border-radius: rem(12px) rem(12px) 0px 0px;
        }

        &:last-child {
            border-radius: 0px 0px rem(12px) rem(12px);
        }

    }
    .delete, .unfollow {
        color: red;
        font-weight: bold;
    }
}
