.preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    overflow: hidden;
    // padding: 1rem;
    border-bottom: 0.0625rem solid $border-color;
   

    .entry-image {
        // width: rem(406px);
        position: relative;
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    .entry-info {
        padding: 0.75rem 0;

        .actions {
            display: flex;
            // justify-content: space-between;
            // align-items: center;
            align-items: flex-start;
            margin-bottom: 0.5rem;
            .action {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1.25rem;
                display: flex;
                align-items: center;

                &:hover {
                    opacity: 0.8;
                }

                &.like {
                    padding-right: 0.75rem;
                    // color: #ed4956;
                }

                &.comment,
                &.share {
                    padding-right: 0.75rem;
                    // color: #262626;
                }

                &.save {
                    color: #262626;
                    margin-left: auto;

                    &:hover {
                        // color: #8e8e8e;
                    }
                }
            }
          
        }

        .entry-likes {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .entry-comments {
            font-size: 0.875rem;
            margin-top: 0.5rem;
            .view-comments {
                cursor: pointer;

                &:hover {
                    // text-decoration: underline;
                }
            }
        }
    }
}
