.sidebar {
    display: grid;
    height: 100vh;
    border-right: 0.0625rem solid $border-color;
    padding: rem(25px) 0;
    // position: fixed;
    top: 0;
    left: 0;
    color: $ig-primory-clr;

    nav {
        display: grid;
        grid-template-rows: auto 1fr auto;
        font-size: rem(16px);
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        .logo {
            width: rem(220px);
            margin: rem(12px);
            color: $ig-primory-clr;
            &:hover {
                color: $ig-primary-clr2;
            }
        }
        .menu-item {
            flex-grow: 1;
            display: flex;
            align-items: center;
            color: $ig-primory-clr;
            text-decoration: none;
            width: rem(220px);
            margin-bottom: rem(8px);
            border-radius: 8px;
            cursor: pointer;
            transition: color 0.3s, fill 0.3s background-color 0.3s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: rem(8px);
            }

            &.active {
                font-weight: bold;
            }

            .icon {
                width: rem(24px);
                height: rem(24px);
                margin: rem(12px);
                transition: stroke 0.3s ease, fill 0.3s ease;
                &.active {
                    stroke: $ig-primory-clr;
                    fill: $ig-primory-clr;
                }
            }
        }

        img {
            border-radius: 50%;
        }

        .menu-item:last-child {
            margin-top: auto; /* Сдвигает последний элемент вниз */
        }
    }
}
