.user-entry-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, rem(307px)));
    gap: rem(4px);
    overflow:hidden;

    .entry-image {
        @include aspect-ratio(1, 1);
        // object-fit: cover;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}