.widgets {
    padding: rem(32px) 2rem;
    // width: rem(319px);

    .menu-item {
        width: rem(319px);
        display: flex;
        align-items: center;
        // margin-bottom: 2rem;
        // cursor: pointer;
        transition: background-color 0.3s ease;
        padding: rem(8px) rem(16px);
        gap: 1rem;
    }

   
        
        .widg-txt {
            font-size: rem(14px);
            font-weight: bold;
            color: $ig-primary-clr2;
            margin-top: rem(20px);
            // padding: rem(4px) rem(16px);
        }
    
        .widg-txt-btn{
            color: $ig-primory-clr;
            margin-left: auto;
            margin-top: rem(20px);
        }

  
    div {
        .icon {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            color: $ig-primory-clr;
        }

        a {
            font-size: 1rem;
            color: $ig-primory-clr;
            font-weight: bold;
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;
            // gap: 1rem;

            &:hover {
                text-decoration: none;
            }
        }

        button {
            margin-left: auto;
            color: $ig-primary-clr3;
            font-weight: bold;
            &:hover {
                color:$ig-secondary-clr3 ;
            }
        }

        .text {
            display: block;
        }

        .second {
            color: $ig-primary-clr2;
            font-weight: normal;
            // position: relative;
        }
    }
}
