button {
	border: 0;
	background-color: $ig-primary-background;
	// color: $ig-primory-clr;
	// padding: 5px 10px;
	// margin: 5px;
	cursor: pointer;
}

.btn {
    cursor: pointer;
}

.modal {
    border-radius: rem(12px);
    background-color: $ig-primary-background;
    overflow: hidden;
    // border: 1px solid #ccc;
    max-height: calc(100hv - 40px);

    header {
        height: rem($modal-header-height);
        border-bottom: 1px solid $border-color;
    }
}

.options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(14px);
    width: rem(400px);

    button, a {
        display: block;
        width: 100%;
        height: rem(48px);
        border-bottom: 0.0625rem solid $border-color;
        padding: rem(4px) rem(8px);
    }

    .red-button {
        color: red;
        font-weight: bold;
    }
}
