button {
	border: 0;
	background-color: $ig-primary-background1;
	// color: $ig-primory-clr;
	// padding: 5px 10px;
	// margin: 5px;
	cursor: pointer;
}

// form > * {
// 	display: block;
// 	// width: 200px;
// 	margin: 10px 0px;
// }

.btn-link {
	// border: 0;
	// background-color: transparent;
	// text-decoration: underline;
	// transition: 0.5s;
}
.btn-link:hover {
	// background-color: $clr1;
}

.options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(14px);
    width: rem(400px);

    button, a {
        display: block;
        width: 100%;
        height: rem(48px);
        border-bottom: 0.0625rem solid $border-color;
        padding: rem(4px) rem(8px);
        cursor: pointer;
    }
    .red-button {
        color: red;
        font-weight: bold;
    }
}
