.app {
    display: flex;
    // grid-template-columns: auto 1fr;
    flex-direction: column;
    height: 100vh;
    .sidebar-container-regular {
        display:none;
    }

    .container {
        flex: 1;
        overflow-y: auto;
    }

    @include for-normal-layout {
        flex-direction: row;

        .sidebar-container-header,
        .sidebar-container-footer {
            display: none;
        }
        .sidebar-container-regular {
            display:block;
        }
    }
}

.app.no-sidebar {
    // grid-template-columns: 1fr;
    .sidebar-container {
        display: none;
    }
    .container {
        justify-self: center;
        flex:1;
    }
}
