// Colors
$ig-primary-background1: rgb(255, 255, 255);
$ig-primory-clr:rgb(0, 0, 0);
$ig-primary-clr2:#b3b9bd;
$ig-secondary-clr: rgb(0, 0, 0, 0.1);
$border-color: #dbdbdb;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$sidebar-width: 20rem;
$widgets-width: 25rem;