// Colors
$ig-primary-background: rgb(255, 255, 255);

$ig-primory-clr:rgb(0, 0, 0);
$ig-primary-clr2:#737373;
$ig-primary-clr3: #0095f6;
$ig-primary-clr4:#b3b9bd;

$ig-secondary-clr: rgb(0, 0, 0, 0.1);
$ig-secondary-clr2: #c7c7c7;
$ig-secondary-clr3:#00376b;
$ig-secondary-text: rgb(115, 115, 115);
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$border-color: #dbdbdb;


// Breakpoints
$mobile-breakpoint: 468px;
$normal-breakpoint: 768px;
// $narrow-breakpoint: 768px;
// $normal-breakpoint: 1160px;
$wide-breakpoint: 1264px;

$sidebar-width: 20rem;
$widgets-width: 25rem;

$modal-header-height: 44px;
$edit-modal-expand-time: 1s;





// .user-buttons background-color: #efefef;
// .user-navigation color:#737373;
// .login-box background: #fff;
// color: #262626;
// background-color: #0095f6;
// color: #8e8e8e;
// color: #385185;
// color: #737373;
// color:#00376b ;
// .sidebar background-color: rgba(0, 0, 0, 0.05);
// .entry-details-modal background-color: rgba(0, 0, 0, 0.7);
// background-color: #ffffff;
// color: #ccc;

// color: #c7c7c7;
// background-color: #007bb5;