.create-comment {
    display: flex;
    align-items: center;
    gap: rem(8px);
    width: 100%;
    flex-direction: row;

    .entry-details-modal & {
        .emoji-container {
            order: -1;
        }
    }

    .entry-preview & {
        .emoji-btn svg {
            height: 13px;
            width: 13px;
        }
    }

    textarea {
        flex: 1;
        resize: none;
        border: none;
        outline: none;
        font-size: rem(14px);
        line-height: rem(18px);
        font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    }

    .post-btn {
        font-size: rem(14px);
        font-weight: bold;
        color: $ig-primary-clr3;
        border-radius: rem(2px);
        &:hover {
            color: $ig-secondary-clr3;
        }
    }

    .emoji-container {
        position: relative;
        display: inline-block;
        .emoji-btn {
            background: none;
            border: none;
            cursor: pointer;
            color: $ig-primary-clr2;
            &:hover {
                color: $ig-secondary-clr2;
            }
        }

        .emoji-picker {
            position: absolute;
            bottom: 40px;
            transition: left 1s, top 1s;
            // top: 40px;
            z-index: 100;
            // box-shadow: 0 4px 8px #ffffff;
        }
    }
}

// @media (max-width: 600px) { .emoji-picker { left: 0;  top: 40px;  }}
