.entry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: rem(4px) 0;
    .like-share {
        display: flex;
    }
    .action {
        // flex: 1;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        padding: rem(8px);

        &:hover {
            opacity: 0.8;
            color: $ig-primary-clr2;
        }
    }

    // .action.save {
    //     color: #262626;
    //     align-self: end;

    //     &:hover {
    //         color: #737373;
    //     }
    // }
}

.entry-likes {
    padding-left: rem(12px);
    font-weight: bold;
    // margin-bottom: 0.5rem;
}
