.entry-buttons {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // align-items: flex-start;
    margin-bottom: 0.5rem;
    .like-share {
        display: flex;
        .action {
            // flex: 1;
            background: none;
            border: none;
            cursor: pointer;
            // font-size: 1.25rem;
            display: flex;
            // align-items: center;

            &:hover {
                opacity: 0.8;
                color: #737373;
            }

            &.like {
                padding-right: 0.75rem;
                // color: #ed4956;
            }

            &.comment,
            &.share {
                padding-right: 0.75rem;
                // color: #262626;
            }

            &.save{
                align-self: end;
                color: #262626; 
                padding: 0;
            }
        }
    }

    // .action.save {
    //     color: #262626;
    //     align-self: end;

    //     &:hover {
    //         color: #737373;
    //     }
    // }
}

.entry-likes {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
