.entry-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    // padding-bottom: rem(12px);
    
    .prof-preview {
        display: flex;
        align-items: center;

        .user-icon {
            margin-right: 12px;
        }
        .entry-time {
            font-size: 14px;
            font-weight: 400;
            color: $ig-secondary-text;
            font-family: $font-family-system;
            margin-left: 14px; //add dot svg with apropriate style
        }

        .follow-button {
            font-size: rem(14px);
            color: #0095f6;
            font-weight: 600;
            font-family: $font-family-system;
            &:hover {
                color: #00376b;
            }
            margin-left: 14px; //add dot svg with apropriate style
        }

    }
    // .icon {
    //     width: 3rem;
    //     height: 3rem;
    //     border-radius: 50%;
    //     color: $ig-primory-clr;
    // }

    // button,
    // a {
    //     align-self: center;
    //     font-size: 1rem;
    //     color: $ig-primory-clr;
    //     font-weight: bold;
    //     transition: background-color 0.3s, color 0.3s;
    //     gap: 1rem;
    //     &:hover {
    //         text-decoration: none;
    //     }
    // }
}